<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.obnsoft.arduboyutil"
    android:versionCode="9"
    android:versionName="0.0.9" >


    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-feature android:name="android.hardware.usb.host" />

    <application
        android:name="com.obnsoft.arduboyutil.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.obnsoft.arduboyutil.MainActivity"
            android:label="@string/appName"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.hex" />
                <data android:pathPattern=".*\\.arduboy" />
                <data android:pathPattern=".*\\.eeprom" />
                <data android:host="*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="arduboy" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>

        <activity
            android:name="com.obnsoft.arduboyutil.FilePickerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />

        <activity
            android:name="com.obnsoft.arduboyutil.ConsoleActivity"
            android:label="@string/appNameConsole"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />

        </application>

</manifest>
